/* font Import */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Quicksand:wght@500;600&display=swap");
/* CSS import */
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.box {
  position: relative;
  border-radius: 30px;
  height: 87vh;
  max-height: 87vh;
  min-height: 550px;
  width: 46vw;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  border-radius: 20px;
}

#weather {
  position: absolute;
  top: 7px;
  right: 10px;
}
#weather span {
  color: white;
}

#todo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  overflow: auto;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: white;
}
#author {
  font-size: 13px;
  margin-top: 3px;
}

.bgImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
}

#clock {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  margin-top: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
}
#greeting {
  font-size: 50px;
  margin-top: 50px;
}

#greeting,
#weather,
#todo-list {
  color: black;
}

#todo-form {
  margin-top: 20px;
  width: 300px;
}
#todo-input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}
#todo-input::placeholder {
  color: white;
}
#todo-input:focus-within {
  color: white;
}
#todo-list {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.todo-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: white;
}

.checkbox:hover {
  border-color: rgb(0, 252, 168);
  color: rgb(0, 252, 168);
}
